<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/blog.css">
</head>
<body>
    {% block content %}{% endblock %}

    {% include "./footer.njk" %}
</body>
</html>

<script>
    const active_tags = []

    function handleCheckBox(tag_name) {
        const tag = document.getElementById(tag_name)
        if (active_tags.length < 2 && !active_tags.includes(tag_name)) {
            console.log("check")
            tag.checked = true
            active_tags.push(tag_name)
        } else if (active_tags.length >= 2) {
            console.log("uncheck")
            for (i in active_tags) {
                if ( active_tags[i] == tag_name) {
                    active_tags.splice(i, 1)
                    console.log(active_tags)
                }
            }
            tag.checked = false
        }
        
        console.log(active_tags.length)
    }

</script>