<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/aboutMe.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/phoneStyle.css">
    <link rel="stylesheet" href="css/indexPhone.css">
</head>
<body>
    {% block content %}{% endblock %}

    {% include "./footer.njk" %}
</body>
</html>

<script>
    const active_tags = []

    function handleCheckBox(tag_name) {
        const tag = document.getElementById(tag_name)
        
        if (active_tags.length < 2 && !active_tags.includes(tag_name)) {
            tag.checked = true
            active_tags.push(tag_name)

        } else if (active_tags.length >= 2) {
            for (i in active_tags) {
                if ( active_tags[i] == tag_name) {
                    active_tags.splice(i, 1)
                }
            }

            tag.checked = false
        }
    }

    function openNav() {
        document.getElementById("nav").style.display = "block";
        console.log("Hi")
    }

    function closeNav() {
        document.getElementById("nav").style.display = "none";
        console.log("Bai")
    }

</script>