{% block content %}
    <nav>
        <h3>LINKS</h3>
        <ul>
            <li><a href="#">Blog </a></li>
            <li><a href="#">Art</a>
                <ul>
                    <li>Year ></li>
                    <ul>
                        <li><a href="#">-- 2026</a></li>
                        <li><a href="#">-- 2025</a></li>
                        <li><a href="#">-- 2024</a></li>
                        <li><a href="#">-- Old time</a></li>
                    </ul>
                </ul>
            </li>
            <li><a href="#">Pictures</a>
                <ul>
                    <li>Year ></li>
                    <ul>
                        <li><a href="#">-- 2026</a></li>
                        <li><a href="#">-- 2025</a></li>
                        <li><a href="#">-- 2024</a></li>
                        <li><a href="#">-- Old time</a></li>
                    </ul>
                </ul>
            </li>
            <li><a href="#">Shrine</a></li>
            <li><a href="#">About Me</a></li>
        </ul>
    </nav>
{% endblock %}