{% block content %}
    <nav>
        <h3>LINKS</h3>
        <ul>
            <li class="link"><a href="\">Home</a></li>
            <li class="link"><a href="\blog">Blog </a></li>
            <li class="link"><a href="#">Art</a>
                <ul class="year-wrapper">
                    <li class="year-link">Year ></li>
                    <ul class="years">
                        <li><a href="#">-- 2026</a></li>
                        <li><a href="#">-- 2025</a></li>
                        <li><a href="#">-- 2024</a></li>
                        <li><a href="#">-- Old time</a></li>
                    </ul>
                </ul>
            </li>
            <li class="link"><a href="#">Pictures</a>
                <ul class="year-wrapper">
                    <li class="year-link">Year ></li>
                    <ul class="years">
                        <li><a href="#">-- 2026</a></li>
                        <li><a href="#">-- 2025</a></li>
                        <li><a href="#">-- 2024</a></li>
                        <li><a href="#">-- Old time</a></li>
                    </ul>
                </ul>
            </li>
            <li class="link"><a href="#">Shrine</a></li>
            <li class="link"><a href="#">About Me</a></li>
        </ul>
    </nav>
{% endblock %}