{% extends "./components/layout.njk" %}

{% block content %}
    <main class="about-wrapper">
        <div class="about-content content">
            <div class="left-content">
                {% include "./components/navbar.njk" %}
                <img src="#" alt="temp">
                {% include "./components/shrine-box.njk" %}
            </div>
            <div class= "main-content">
                <h1>ABOUT ME</h1>
                <div class="top-content">
                    <h3>Get to know me!</h3>
                    <p>
                        Hello, my name is Tirokoii, krangeltoffla or ima_fish,
                        I also have a secret name, that being my legal name. 
                        I'm a secret tree but everyone thinks I'm a fish or 
                        frog, I reality I'm a tree, stiff and strong. I have 
                        you could say a passion for understanding, even 
                        though it often brings me forwards to discover new
                        things it can also hold me back. Sometimes it can
                        stop me form moving forwards since if I don't get
                        something, I'm going to get stuck on it, but even
                        so I love learning and observing. Life sure can
                        be quite contradicting sometimes, huh?
                        (sweating emoji) It might not always be good,
                        but regardless of the hardships life throw at us you
                        can always find the good in the bad! (happy emoji)
                    </p>
                </div>
                <div class="middle-content">
                    <div class="pref-wrapper">
                        <h2>LIKES</h2>
                        <div>
                            <ul class="left-list">
                                <li>
                                    <p><b>Fruits & berry</b></p>
                                    <ul class="inner-list">
                                        <li><p>Strawberries</p></li>
                                        <li><p>Lingonberries</p></li>
                                        <li><p>Green apples</p></li>
                                    </ul>
                                </li>
                                <li>
                                    <p><b>Animals</b></p>
                                    <ul class="inner-list">
                                        <li><p>Fluffy animals</p></li>
                                        <li><p>My animals</p></li>
                                    </ul>
                                </li>
                                <li>
                                    <p><b>Food</b></p>
                                </li>
                                <li>
                                    <p><b>Friends & family</b></p>
                                </li>
                            </ul>
                            <ul class="right-list">
                                <li>
                                    <p><b>Art & design</b></p>
                                    <ul class="inner-list">
                                        <li><p>Details</p></li>
                                        <li><p>Colors</p></li>
                                        <li><p>Funky shapes</p></li>
                                    </ul>
                                </li>
                                <li>
                                    <p><b>Philosophy</b></p>
                                    <ul class="inner-list">
                                        <li><p>Existance</p></li>
                                        <li><p>Purpose</p></li>
                                        <li><p>Feelings</p></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pref-wrapper">
                        <h2>DISLIKES</h2>
                        <div>
                            <ul class="left-list">
                                <li>
                                    <p><b>Awkwardness</b></p>
                                    <ul class="inner-list">
                                        <li><p>Randos</p></li>
                                        <li><p>Meeting old friends</p></li>
                                    </ul>
                                </li>
                                <li>
                                    <p><b>Insecurities</b></p>
                                    <ul class="inner-list">
                                        <li><p>My own</p></li>
                                        <li><p>Others</p></li>
                                        <li><p>Social norms</p></li>
                                    </ul>
                                </li>
                                <li>
                                    <p><b>Waking up</b></p>
                                </li>
                            </ul>
                            <ul class="right-list">
                                <li>
                                    <p><b>Bad textures</b></p>
                                    <ul class="inner-list">
                                        <li><p>Sloopy</p></li>
                                        <li><p>Slimy</p></li>
                                    </ul>
                                </li>
                                <li>
                                    <p><b>Being forced</b></p>
                                    <ul class="inner-list">
                                        <li><p>No purpose</p></li>
                                        <li><p>Suddenly</p></li>
                                    </ul>
                                </li>
                                <li>
                                    <p><b>Not knowing</b></p>
                                    <ul class="inner-list">
                                        <li><p>How to solve</p></li>
                                        <li><p>What to do</p></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bottom-content">
                    <div class="bottom-right-wrapper">
                        <div class="hobbies">
                            <div class="hobbie-header">
                                <h2>HOBBIES</h2>
                                <p>- as a professional yapper</p>
                                <img src="#" alt="temp">
                            </div>
                            <ul>
                                <li>
                                    <p>Watch movies</p>
                                </li>
                                <li>
                                    <p>Hanging out with people I like</p>
                                </li>
                                <li>
                                    <p>Crafting things for others</p>
                                </li>
                                <li>
                                    <p>Learning new interesting things</p>
                                </li>
                                <li>
                                    <p>Making art & taking pictures</p>
                                </li>
                            </ul>
                        </div>
                        <div class="buttons-row">
                            <button><a href="#">Random button</a></button>
                            <img src="#" alt="temp">
                            <button><a href="#">Poof</a></button>
                        </div>
                    </div>
                    <div class="link-box">
                        <h4>Fun links</h4>
                        <ul>
                            <li>
                                <a href="#"> - Link</a>
                            </li>
                            <li>
                                <a href="#"> - Link</a>
                            </li>
                            <li>
                                <a href="#"> - Link</a>
                            </li>
                            <li>
                                <a href="#"> - Link</a>
                            </li>
                            <li>
                                <a href="#"> - Link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}