{% extends "./components/layout.njk" %}

{% block content %}
    <p>This is ground work for my blog</p>
    <div class="wrapper">
        <div>
            <p>contentajefbiwaliehgrfkvusneblcnlkm</p>
            <p>ajebvfalibvhjklwajiubsvjes</p>
            <p>bjeablanjhvwyifunvleospjnjirvbeihybv</p>
        </div>
    </div>
{% endblock %}