{% extends "./components/layout.njk" %}

{% block content %}
    <form action="/create" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" autocomplete="off">
        <label for="content">Content:</label>
        <input type="text" name="content" autocomplete="off">
        <button type="submit">Post it >:D</button>
    </form>
    <div>
        {% if post %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p>{{ post.created_at }}</p>
            <p>{{ msg }}</p>
        {% endif %}
    </div>
{% endblock %}