{% extends "./components/layout.njk" %}

{% block content %}
<main class="login-wrapper content">
    <div class="left-content">
        {% include "./components/navbar.njk" %}
        {% include "./components/shrine-box.njk" %}
    </div>
    <div class="main-content">
        <div class="middle-wrapper">
            <div class="login-content">
                <h1>Login</h1>
                <form action="/login" method="POST">
                    <label for="username">The username:</label>
                    <input type="text" name="username" autocomplete="off">
                    <label for="password">The password</label>
                    <input type="password" name="password" autocomplete="off">
                    <label for="petname">The petname:</label>
                    <input type="text" name="petname" autocomplete="off">
                    <button type="submit">Send answer :D</button>
                    {% if messages %}
                        {% for message in messages[0] %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                </form> 
            </div>
            <img src="#" alt="something">
        </div>
        <div class="logout-wrapper">
            <form action="/login/logout" method="POST">
               <button type="submit" name="out" value="out">Logout</button>
            </form>
            {% if lg_stat %}
                {% for msg in lg_stat %}
                    <p>{{ msg }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}