.blog-wrapper {
    display: flex;
    background-color: var(--color-white);

    h1 {
        font-size: 3.3rem;
        background-color: var(--color-white);
        width: fit-content;
        padding: 20px 50px 20px 35px;
        margin-block: 10px;
    }

    .left-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        background-color: var(--color-light);
        width: auto;
    
        .top-content {
            display: flex;
            flex-direction: row;
            column-gap: 3%;
            margin: clamp(10px, 2%, 65px);
        }
    }

    .rp-wrapper {
        background-color: var(--color-brown);
        width: 75%;
        height: 350px;
        padding: 20px;
        
        .rp-content {
            background-color: var(--color-light);
            height: 100%;
            overflow-y: scroll;
            padding: 20px;

            h2 {
                font-size: clamp(1.7rem, 3.2vw, var(--h3-fontsize));
            }  
        }
    }

    .at-posts-wrapper {
        background-color: var(--color-brown);
        width: auto;
        height: clamp(400px, 40vw, 700px);
        padding: 30px;
        margin: clamp(10px, 2%, 65px);

        .atw-top {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            h2 {
                font-size: clamp(1.5rem, 3.2vw, var(--h3-fontsize));
            }

            .atw-img-wrapper {
                display: flex;
                flex-direction: row;
            }
        }

        .allt-post-wrapper {
            background-color: var(--color-light);
            padding: 20px;
            margin-bottom: 10px;
            width: auto;
            height: 85%;
            overflow-y: scroll;

            .post-wrapper {
                background-color: var(--color-white);
            }
        }  
    }

    .middle-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: clamp(10px, 2%, 65px);

        h5 {
            font-size: clamp(0.7rem, 2.2vw, calc(var(--h4-fontsize) - 0.4rem));
            margin: 0;
        }

        ul {
            list-style: inside;
        }
    }

    .bottom-content {
        display: flex;
        flex-direction: row;
        background-color: var(--color-white);
        margin: clamp(10px, 2%, 65px);
        padding: 20px;

        .todo-box {
            padding: 10px;

            h5 {
                font-size: 1.2rem;
                margin: 0;
            }

            ul {
                list-style: none;
            }
        }

        .done-box {
            ul {
                list-style: none;
            }
        }
    }
}

