.blog-wrapper {
    background-color: var(--color-white);

    h1 {
        font-size: 3.3rem;
        background-color: var(--color-white);
        width: fit-content;
        padding: 20px 50px 20px 35px;
        margin-block: 10px;
    }
}

.blog-content {

    .left-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        background-color: var(--color-light);
        width: 100%;
    }

    .middle-content {
        display: flex;
        flex-direction: column;
        row-gap: clamp(10px, 2vw, 25px);
        background-color: var(--color-white);
        margin: clamp(10px, 2%, 65px);
        width: auto;

        .top-flex-area {
            display: flex;
            flex-direction: row;
            column-gap: 3%;
        }
    }

    .rp-wrapper {
        background-color: var(--color-brown);
        width: 75%;
        height: 350px;
        padding: 20px;
        overflow-y: scroll;

        .rp-content {
            background-color: var(--color-light);
            height: 100%;
            padding: 20px;

            h2 {
                font-size: clamp(1.7rem, 3.2vw, var(--h3-fontsize));
            }  
        }
    }

    .at-posts-wrapper {
        background-color: var(--color-brown);
        width: auto;
        height: clamp(400px, 40vw, 700px);
        padding: 40px;

        .atw-top {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            h2 {
                font-size: clamp(1.7rem, 3.2vw, var(--h3-fontsize));
            }

            .atw-img-wrapper {
                display: flex;
                flex-direction: row;
            }
        }

        .allt-post-wrapper {
            background-color: var(--color-light);
            padding: 20px;
            margin-bottom: 10px;
            width: auto;
            height: 90%;
            overflow-y: scroll;

            .post-wrapper {
                background-color: var(--color-white);
            }
        }
        
    }

    .middle-bottom-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        h5 {
            font-size: clamp(0.7rem, 2.2vw, calc(var(--h4-fontsize) - 0.4rem));
            margin: 0;
        }

        ul {
            list-style: inside;
        }
    }
}

