@media only screen and (max-width: 768px) {
    .blog-wrapper {
        flex-direction: column-reverse;
        row-gap: 30px;

        .main-content {
            flex-direction: column;
            row-gap: 30px;
            
            .top-content {
                flex-direction: column !important;
                row-gap: 30px;
            }
            
            .rp-wrapper {
                width: 100%;
            }

            .at-posts-wrapper {
                padding: 20px;
            }
    
            .mood-box {
                width: 90%;
                height: 300px;
                align-self: center;
            }

            .bottom-content {
                flex-direction: column;
            }
        }
    }
}