@media only screen and (max-width: 768px) {
    .index-content {

        .middle-content {
            width: 100%;
            row-gap: 30px;
        }

        .box-wrapper {
            width: 100%;

            .box {
                a {
                    height: 100%;
                }

                img {
                    height: clamp(170px, 30vw, 380px);
                }
            }
        }
    }
}