.index-content {
    display: flex;
    flex-direction: column;
    header {
        font-size: 4.5rem;
        align-content: center;
        text-align: center;
        background-color: var(--color-brown);
        width: 100%;
        height: 10ch;
    }
}