main {
    display: inline-block;
    background-color: var(--color-light);
    margin-inline: clamp(10px, 5%, 50px);
    margin-block: 40px;
}

.content {
    display: flex;
    height: auto;
}

nav {
    background-color: var(--color-purple);
    color: var(--color-light);
    padding: 20px;
    width: clamp(160px, 20vw, 200px);
    height: min-content;

    h3 {
        font-size: clamp(1.5rem, 4vw, var(--h3-fontsize));
        margin-bottom: 15px;
    }

    .link {
        font-size: clamp(1.1rem, 4vw, calc(var(--h4-fontsize)) - 0.3rem);
    }

    .year-wrapper {
        padding-left: 20px;
    }

    .year-link {
        font-size: clamp(0.9rem, 4vw, calc(var(--h4-fontsize)) - 0.5rem);
    }

    .years {
        font-size: clamp(0.7rem, 4vw, calc(var(--h4-fontsize)) - 0.7rem);
        padding-left: 20px;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: var(--color-black);
        font-size: 105%;      
    }
}

.shrine-box {
    background-color: var(--color-light);
    height: clamp(80px, 25vw, 230px);
    width: 100%;
    padding: 20px;

    img {
        object-fit: cover;
        width: 100%;
        height: clamp(70px, 13vw, 170px);
        margin-top: 8px;
    }
}

.mood-box {
    background-color: var(--color-light);
    height: clamp(80px, 25vw, 230px);
    width: clamp(80px, 25vw, 230px);

    h3 {
        font-size: clamp(1.3rem, 3.2vw, var(--h3-fontsize));
        text-align: center;
    }

    img {
        object-fit: cover;
        width: auto;
        height: clamp(70px, 15vw, 160px);
        margin-top: 8px;  
        margin-inline: 15px;
    }
}

.tag {
    background-color: var(--color-white);
}

footer {
    width: 60%;
    height: 120px;
    background-color: var(--color-light);
    margin-top: 200px;
}